<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grk_rise.rainbow">
    <uses-sdk android:minSdkVersion="11"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_project_light"
        android:label="@string/app_name"
        android:theme="@style/FullscreenTheme"
        >
        <activity
            android:name="com.grk_rise.rainbow.activitys.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.grk_rise.rainbow.activitys.HomeActivity"
            android:label="@string/home"
            android:theme="@style/actionBar">
        </activity>
        <provider
            android:authorities="com.example.grk_rise.rainbow"
            android:name=".core.FileContentProvider"
            android:enabled="true"
            android:exported="true"/>

    </application>

</manifest>
